@media (min-width: 992px) {
  .responsiveBanner {
    height: 110vh !important;
    padding-top: 35vh;
    padding-bottom: 15vh;
  }
}
@media (max-width: 991px) {
  .responsiveBanner {
    padding-top: 150px;
    padding-bottom: 8vw;
  }
}

@media (max-width: 453px) {
  .responsiveBannerText {
    font-size: 35px !important;
  }
}
