@media (max-width: 767px) {
  .responsiveAboutText {
    font-size: 30px !important;
    line-height: 43px !important;
  }
}

@media (max-width: 500px) {
  .respTextGoals {
    font-size: 24px !important;
  }
}
